XERMESS_ADDR=:8080

XERMESS_CORS_ORIGINS=http://localhost:5173

XERMESS_DB_DSN=postgres://postgres:postgres@localhost:5432/xermess?sslmode=disable
XERMESS_DB_DRIVER=postgres
XERMESS_DB_TIMEZONE=Asia/Bishkek
XERMESS_DB_LOG_QUERIES=false
XERMESS_DB_MIGRATE=true
XERMESS_DB_MIGRATE_DIR=./migrations
